.listCast{
    margin: 20px;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.itemCast{
    border: 1px solid rgb(8, 91, 52);
    border-radius: 4px;
    flex-basis: calc((100% - 40px) / 5);
}

.imgCast{
    width: 100%;
} 

.textCast {
    font-size: 15px;
    text-align: center;
    color: rgb(8, 91, 52);
}